<a href="https://colab.research.google.com/github/AbdullahMalik17/Python/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why do list important ?
They are important because we save the data in it without using variable name . We access our data by using indexes .

In [3]:
from typing import List
fruits : List[str] = ["apple" , "banana" , "strawberry" , "watermelon" ,4]
print(fruits)

['apple', 'banana', 'strawberry', 'watermelon', 4]

# List Length

In [4]:
fruits = ["Banana" , "Strawberry" , "Apple" , "WaterMelon"]
print(len(fruits)) # It gives the answer who not starts with 0 but it also starts from 1 .

4

# Another way of accessing indexes

In [5]:
print(fruits[0:1],fruits[0:2],fruits[0:3],fruits[0:4])

['Banana'] ['Banana', 'Strawberry'] ['Banana', 'Strawberry', 'Apple'] ['Banana', 'Strawberry', 'Apple', 'WaterMelon']

# Compare indexes data

In [6]:
print("Banana" in fruits ,"banana" in fruits)

True False

# Methods of list:-
1. append()
2. insert()
3. extend()
4. remove()
5. pop()
6. clear()
7. index()
8. count()
9. sort()
10. reverse()
11. copy()

In [18]:
# append()
# It is used to add end of the list.
name = ["Abdullah","Athar","Bushra"]
name.append("Ayesha")
print(name)

['Abdullah', 'Athar', 'Bushra', 'Ayesha']

In [25]:
# insert()
# It is used to add element in any index .
name.insert(0,"Azhar")
print(name)

['Azhar', 'Abdullah', 'Bushra', 'Ayesha', 'Tahir', 'Mubashir']

In [26]:
# extend()
# It is used to add list to another list .
another_name = ["Tahir","Mubashir"]
name.extend(another_name)
print(name)

['Azhar', 'Abdullah', 'Bushra', 'Ayesha', 'Tahir', 'Mubashir', 'Tahir', 'Mubashir']

In [12]:
# pop()
# It is used to remove element from last .
deleted_name = name.pop()
print(name)
print(deleted_name)

['Azhar', 'Abdullah', 'Athar', 'Bushra', 'Ayesha', 'Tahir']
Mubashir

In [13]:
# clear()
# It is used to remove all the elements from list and make it empty .
deleted_name1 = name.clear()
print(name)

[]
None

In [29]:
# remove()
# It is used to remove element from value
name.remove("Bushra")
print(name)

['Azhar', 'Abdullah', 'Ayesha', 'Tahir', 'Mubashir', 'Tahir', 'Mubashir']

In [30]:
# index method
# it is used to find the find the element at index .
name.index("Tahir",0,4)

3

In [32]:
# sort method
n = [3,4,1,2,5,8,7,6,9]
n.sort()
print(n)

None
[1, 2, 3, 4, 5, 6, 7, 8, 9]