# Hi , I am writing string .

In [1]:
name : str = "Muhammad Abdullah Athar"
father_name : str = "Muhammad Athar"
college :str = "Sadiq Abbass Post Graduate College"
print(name)
print(father_name)
print(college)

Muhammad Abdullah Athar
Muhammad Athar
Sadiq Abbass Post Graduate College

In [13]:
n = "Abdullah \n Ather"
print(type(n))
print(n)

<class 'str'>
Abdullah
 Ather

# Writing a code in a single quote with use a single quote

In [17]:
status : str = "Student \" Learning in a college \" "
print(status)

Student " Learning in a college "

# Using str function

In [25]:
n = 8

print(type(n))
"Abdullah" + str(n)   # It is always used in inline code .

<class 'int'>

'Abdullah8'

# "\ " Line continue

In [26]:
print(5 + 8 + 8) # \ tells the line continous . It is used to continue a line . 
print(5 \
      + 8 \  
      + 8
      )

21
21

In [32]:
name : str = "Muhammad Abdullah Athar"
father_name : str = "Muhammad Athar"
college :str = "Sadiq Abbass Post Graduate College"
print(" Student Card \n Name : "+name \
      +" \n Father Name : "+father_name \
        +" \n College Name :"+college)

 Student Card
 Name : Muhammad Abdullah Athar
 Father Name : Muhammad Athar
 College Name :Sadiq Abbass Post Graduate College

# Define Multi-lines by using triple single or double quotes .

In [36]:
print("""My name is Abdullah . 
My father name is Ather .
My date of birth is 17 May. """) # Without using \ , we write a code in multi lines . 
# It is called dock string .

My name is Abdullah .
My father name is Ather .
My date of birth is 17 May.

# f-string

In [38]:
name : str = "Muhammad Abdullah Athar"
father_name : str = "Muhammad Athar"
college :str = "Sadiq Abbass Post Graduate College"
student_card : str = f"""Name :{name}
Father Name :{father_name}
College Name :{college}"""
print(student_card)

Name :Muhammad Abdullah Athar
Father Name :Muhammad Athar
College Name :Sadiq Abbass Post Graduate College

# Jinja

In [1]:
name : str = "Saif"
father_name : str = "Abdul Rehman"
background : str = "IT Sector"
print("""Family Background \n
Name :{{name}}\n
Father Name :{{father_name}}\n
Background :{{background}}""") # it is a jinja style .

Family Background

Name :{{name}}

Father Name :{{father_name}}

Background :{{background}}