<a href="https://colab.research.google.com/github/AbdullahMalik17/Python/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Question no 1
number = []
for i in range(2000,3201):
  # It return a value which divides by 7 but not the multiple of 5
  if i%7==0 and i%5 != 0 :
    # we use string method to make it string to apply the
    number.append(str(i))
print(",".join(number))

In [ ]:

# Question no 2
# We have to find the factorial of num as a parameter .
def factorial(num1):
  result=1
  for i in range(1,num1+1):
    result = result*i
  return result
number = 7
factorial_of_number= factorial(8)
print(f"{factorial_of_number}")

In [ ]:

# Question no 3
# We have to find the square of all the integral parts of number and give the result in dict
def square(num):
  return num*num

for i in range(1,9):
  square1 =square(i)
  print(f"{i}:{square(i)}")

In [ ]:
# Question no. 4
list_1 = []
for i in range(1,5):
 nums = int(input("Enter Few numbers "))
 list_1.append(nums)
print(list_1)
print(tuple(list_1))

In [ ]:

# Question no. 5
class getting :
  def __init__(self):
    self.getstring = input("Enter you Name ")
    self.printstring = self.getstring
get = getting()
print(get.getstring)

In [ ]:
# Question no. 6
# formula Q = Square root of [(2 * C * D)/H]
import math
c =  50
h = 30
def input_d():
  d = int(input("Enter the value of H... "))
  q = math.sqrt((2 * c * d)/h)
  q = round(q)
  print(q)

input_d()

In [ ]:
# Question no 7
# here we get two input and print two dimensional array .
print( """Generates a 2-dimensional array with element value i*j.

  Args:
    X: Number of rows.
    Y: Number of columns.

  Returns:
    A 2-dimensional array.
  """)
x = int(input("Enter the value of rows... "))
y = int(input("Enter the value of column...  "))
array = []
def two_d_array():
 for i in range(x):
   row = []
   for j in range(y):
     row.append(i*j)
   array.append(row)


two_d_array()
print(array)

In [ ]:
# Question no 8
list_of_words = []
def input_words():
  return input("Enter the names of things... ")

name = input_words()
while name != "":
  list_of_words.append(name)
  name = input_words()

list_of_words.sort()
print(list_of_words)

In [ ]:
# Question no. 9
line = input("Enter a line about you... ")
line = line.upper()
print(line)

In [ ]:
# Question no. 10
line = "hello world and practice makes perfect and hello world again "
line = line.removeprefix("hello world")
words = line.split()
words.sort()
sorted_words = " ".join(words)
print(sorted_words)

In [ ]:
# Question no . 11
# We take input , convert ito binary and shows the output which is divisible by 5
digit = int(input("Enter digits in binary ..."),2)
if digit % 5 == 0:
  digit = bin(digit)
  print(digit)
else:
  print("Not divisible by 5")

In [ ]:
# Question no. 12
# Find even number and make the list .
even_n = []
for i in range(1000,3000+1):
  if(i % 2 == 0):
    even_n.append(i)

print(even_n)

In [ ]:
# Question no. 13
# We get input and give result of letters and digits .
# we use isaplha and isdigit method
sentence = "Hello World! 123"
letters = 0
digits = 0
for char in sentence:
  if char.isalpha():
    letters += 1
  if char.isdigit():
    digits += 1

print(f"Letters {letters} and Digits {digits}")

In [ ]:
# Question no 14
# We will count the number of uppercase and lowercase letter in a sentence
print(f"""This program will take a sentence .
Tell about lowercase and uppercase .  """)

uppercase = 0
lowercase = 0
sentence = input("Enter a sentence... ")
for letter in sentence:
  if letter.isupper():
    uppercase +=1
  if letter.islower():
    lowercase +=1

print(f"Uppercase letter are {uppercase} and lowercase are {lowercase}")

In [ ]:
# Question no 16
# here we take list , separate add number and again make list of square of odd numbers.
print(f"""Give numbers to separate odd number.
It will print square of odd number """)
try:
 num = input("Enter numbers... ")
 num = num.split(",")
 num = list(num)
 num_square = []
 for i in range(0,len(num)):
  num[i] = int(num[i])
  if(num[i] % 2 != 0):
    j = num[i]**2
    num_square.append(j)
    print(f"The square of number is {j} ")

 print(num_square)
except ValueError:
  print("Enter correct value ")

In [ ]:
# Question no. 17
# D stands for deposit and W stands for withdraw
# We will show the amount of net worth of bank .
# It is necesarry to give give sp in use of D or W .
input_supplied = input("Enter Transactions... ")
transaction = input_supplied.split(" ")
len_trans = len(transaction)
deposit = 0
withdraw =0
print(transaction)
try:
 for i in range(0,len_trans,2):
  if(transaction[i] == "D"):
    deposit += int(transaction[i+1])
  if(transaction[i] == "W"):
     withdraw += int(transaction[i+1])
 net_worth = deposit - withdraw
 print(f"The net worth of bank is {net_worth}")
except ValueError():
  print("Enter Correct Value .")

In [ ]:
# Question no . 18
# We have to test the criteria of password .
# The criteria of password is as follows:-
# At least 1 letter between [a-z]
# At least 1 number between [0-9]
# At least 1 letter between [A-Z]
# At least 1 character from [$#@]
# Minimum length of transaction password: 6
# Maximum length of transaction password: 12
# re is the module that is used for data search in match
import re

passwords = ["ABd1234@1", "a F1#", "2w3E*", "2We3345"]

for password in passwords:
    if (
        6 <= len(password) <= 12
        and re.search("[a-z]", password)
        and re.search("[A-Z]", password)
        and re.search("[0-9]", password)
        and re.search("[$#@]", password)
    ):
        print(password)

ABd1234@1

In [ ]:
# Question no. 19
# We have to sort the data in it .
# Data will contain name , age and score .
from operator import itemgetter
entries = ["Tom",19,80,"John",20,90,"Jony",17,91,"Jony",17,93,"Json",21,85]
tuple_list = list(zip(entries[::3], entries[1::3], entries[2::3]))
sorted_list = sorted(tuple_list,key = itemgetter(0))
print(sorted_list)

[('Tom', 19, 80), ('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85)]
[('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85), ('Tom', 19, 80)]

In [ ]:
# Question no. 20
# We will make a class that print number which are divisible by 7 \
class Divisible_seven :
  def __init__(self,n):
    self.n=n

  def generate_number(self):
    for i in range(self.n+1):
      if i % 7 == 0:
        yield i     # yield collects the vlues of i and store it .

num = Divisible_seven(10000)
print(list(num.generate_number()))

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994, 1001, 1008, 1015, 1022, 1029, 1036, 1043, 1050, 1057, 1064, 1071, 1078, 1085, 1092, 1099, 1106, 1113, 1120, 1127, 1134, 1141, 1148, 1155, 1162, 1169, 1176, 1183, 1190, 1197, 1204, 1211, 1218, 1225, 1232, 1239, 1246, 1253, 1260, 1267, 1274, 1281, 1288, 1295, 1302, 1309, 1316, 1323, 1330, 1337, 1344, 1351, 1358, 1365, 1372, 1379, 1386, 1393, 1400, 1407, 1414, 1421, 1428, 1435, 1442, 1449, 1456, 1463, 1470, 1477, 1484, 1491, 1498, 1505, 1512, 1519, 1526, 1533, 1540, 1547, 1554, 1561, 1568, 1575, 1582, 1589, 1596, 1603, 1610, 1617, 1624, 1631, 1638, 1645, 1652, 1659, 1666, 1673, 1680, 1687, 1694, 1701, 1708, 1715, 1722, 1729, 1736, 1743, 1750, 1757, 1764, 1771, 1778, 1785, 1792, 1799, 1806, 1813, 1820, 1827, 1834, 1841, 1848, 1855, 1862, 1869, 1876, 1883, 1890, 1897, 1904, 1911, 1918, 1925, 1932, 1939, 1946, 1953, 1960, 1967, 1974, 1981, 1988, 1995, 2002, 2009, 2016, 2023, 2030, 2037, 2044, 2051, 2058, 2065, 2072, 2079, 2086, 2093, 2100, 2107, 2114, 2121, 2128, 2135, 2142, 2149, 2156, 2163, 2170, 2177, 2184, 2191, 2198, 2205, 2212, 2219, 2226, 2233, 2240, 2247, 2254, 2261, 2268, 2275, 2282, 2289, 2296, 2303, 2310, 2317, 2324, 2331, 2338, 2345, 2352, 2359, 2366, 2373, 2380, 2387, 2394, 2401, 2408, 2415, 2422, 2429, 2436, 2443, 2450, 2457, 2464, 2471, 2478, 2485, 2492, 2499, 2506, 2513, 2520, 2527, 2534, 2541, 2548, 2555, 2562, 2569, 2576, 2583, 2590, 2597, 2604, 2611, 2618, 2625, 2632, 2639, 2646, 2653, 2660, 2667, 2674, 2681, 2688, 2695, 2702, 2709, 2716, 2723, 2730, 2737, 2744, 2751, 2758, 2765, 2772, 2779, 2786, 2793, 2800, 2807, 2814, 2821, 2828, 2835, 2842, 2849, 2856, 2863, 2870, 2877, 2884, 2891, 2898, 2905, 2912, 2919, 2926, 2933, 2940, 2947, 2954, 2961, 2968, 2975, 2982, 2989, 2996, 3003, 3010, 3017, 3024, 3031, 3038, 3045, 3052, 3059, 3066, 3073, 3080, 3087, 3094, 3101, 3108, 3115, 3122, 3129, 3136, 3143, 3150, 3157, 3164, 3171, 3178, 3185, 3192, 3199, 3206, 3213, 3220, 3227, 3234, 3241, 3248, 3255, 3262, 3269, 3276, 3283, 3290, 3297, 3304, 3311, 3318, 3325, 3332, 3339, 3346, 3353, 3360, 3367, 3374, 3381, 3388, 3395, 3402, 3409, 3416, 3423, 3430, 3437, 3444, 3451, 3458, 3465, 3472, 3479, 3486, 3493, 3500, 3507, 3514, 3521, 3528, 3535, 3542, 3549, 3556, 3563, 3570, 3577, 3584, 3591, 3598, 3605, 3612, 3619, 3626, 3633, 3640, 3647, 3654, 3661, 3668, 3675, 3682, 3689, 3696, 3703, 3710, 3717, 3724, 3731, 3738, 3745, 3752, 3759, 3766, 3773, 3780, 3787, 3794, 3801, 3808, 3815, 3822, 3829, 3836, 3843, 3850, 3857, 3864, 3871, 3878, 3885, 3892, 3899, 3906, 3913, 3920, 3927, 3934, 3941, 3948, 3955, 3962, 3969, 3976, 3983, 3990, 3997, 4004, 4011, 4018, 4025, 4032, 4039, 4046, 4053, 4060, 4067, 4074, 4081, 4088, 4095, 4102, 4109, 4116, 4123, 4130, 4137, 4144, 4151, 4158, 4165, 4172, 4179, 4186, 4193, 4200, 4207, 4214, 4221, 4228, 4235, 4242, 4249, 4256, 4263, 4270, 4277, 4284, 4291, 4298, 4305, 4312, 4319, 4326, 4333, 4340, 4347, 4354, 4361, 4368, 4375, 4382, 4389, 4396, 4403, 4410, 4417, 4424, 4431, 4438, 4445, 4452, 4459, 4466, 4473, 4480, 4487, 4494, 4501, 4508, 4515, 4522, 4529, 4536, 4543, 4550, 4557, 4564, 4571, 4578, 4585, 4592, 4599, 4606, 4613, 4620, 4627, 4634, 4641, 4648, 4655, 4662, 4669, 4676, 4683, 4690, 4697, 4704, 4711, 4718, 4725, 4732, 4739, 4746, 4753, 4760, 4767, 4774, 4781, 4788, 4795, 4802, 4809, 4816, 4823, 4830, 4837, 4844, 4851, 4858, 4865, 4872, 4879, 4886, 4893, 4900, 4907, 4914, 4921, 4928, 4935, 4942, 4949, 4956, 4963, 4970, 4977, 4984, 4991, 4998, 5005, 5012, 5019, 5026, 5033, 5040, 5047, 5054, 5061, 5068, 5075, 5082, 5089, 5096, 5103, 5110, 5117, 5124, 5131, 5138, 5145, 5152, 5159, 5166, 5173, 5180, 5187, 5194, 5201, 5208, 5215, 5222, 5229, 5236, 5243, 5250, 5257, 5264, 5271, 5278, 5285, 5292, 5299, 5306, 5313, 5320, 5327, 5334, 5341, 5348, 5355, 5362, 5369, 5376, 5383, 5390, 5397, 5404, 5411, 5418, 5425, 5432, 5439, 5446, 5453, 5460, 5467, 5474, 5481, 5488, 5495, 5502, 5509, 5516, 5523, 5530, 5537, 5544, 5551, 5558, 5565, 5572, 5579, 5586, 5593, 5600, 5607, 5614, 5621, 5628, 5635, 5642, 5649, 5656, 5663, 5670, 5677, 5684, 5691, 5698, 5705, 5712, 5719, 5726, 5733, 5740, 5747, 5754, 5761, 5768, 5775, 5782, 5789, 5796, 5803, 5810, 5817, 5824, 5831, 5838, 5845, 5852, 5859, 5866, 5873, 5880, 5887, 5894, 5901, 5908, 5915, 5922, 5929, 5936, 5943, 5950, 5957, 5964, 5971, 5978, 5985, 5992, 5999, 6006, 6013, 6020, 6027, 6034, 6041, 6048, 6055, 6062, 6069, 6076, 6083, 6090, 6097, 6104, 6111, 6118, 6125, 6132, 6139, 6146, 6153, 6160, 6167, 6174, 6181, 6188, 6195, 6202, 6209, 6216, 6223, 6230, 6237, 6244, 6251, 6258, 6265, 6272, 6279, 6286, 6293, 6300, 6307, 6314, 6321, 6328, 6335, 6342, 6349, 6356, 6363, 6370, 6377, 6384, 6391, 6398, 6405, 6412, 6419, 6426, 6433, 6440, 6447, 6454, 6461, 6468, 6475, 6482, 6489, 6496, 6503, 6510, 6517, 6524, 6531, 6538, 6545, 6552, 6559, 6566, 6573, 6580, 6587, 6594, 6601, 6608, 6615, 6622, 6629, 6636, 6643, 6650, 6657, 6664, 6671, 6678, 6685, 6692, 6699, 6706, 6713, 6720, 6727, 6734, 6741, 6748, 6755, 6762, 6769, 6776, 6783, 6790, 6797, 6804, 6811, 6818, 6825, 6832, 6839, 6846, 6853, 6860, 6867, 6874, 6881, 6888, 6895, 6902, 6909, 6916, 6923, 6930, 6937, 6944, 6951, 6958, 6965, 6972, 6979, 6986, 6993, 7000, 7007, 7014, 7021, 7028, 7035, 7042, 7049, 7056, 7063, 7070, 7077, 7084, 7091, 7098, 7105, 7112, 7119, 7126, 7133, 7140, 7147, 7154, 7161, 7168, 7175, 7182, 7189, 7196, 7203, 7210, 7217, 7224, 7231, 7238, 7245, 7252, 7259, 7266, 7273, 7280, 7287, 7294, 7301, 7308, 7315, 7322, 7329, 7336, 7343, 7350, 7357, 7364, 7371, 7378, 7385, 7392, 7399, 7406, 7413, 7420, 7427, 7434, 7441, 7448, 7455, 7462, 7469, 7476, 7483, 7490, 7497, 7504, 7511, 7518, 7525, 7532, 7539, 7546, 7553, 7560, 7567, 7574, 7581, 7588, 7595, 7602, 7609, 7616, 7623, 7630, 7637, 7644, 7651, 7658, 7665, 7672, 7679, 7686, 7693, 7700, 7707, 7714, 7721, 7728, 7735, 7742, 7749, 7756, 7763, 7770, 7777, 7784, 7791, 7798, 7805, 7812, 7819, 7826, 7833, 7840, 7847, 7854, 7861, 7868, 7875, 7882, 7889, 7896, 7903, 7910, 7917, 7924, 7931, 7938, 7945, 7952, 7959, 7966, 7973, 7980, 7987, 7994, 8001, 8008, 8015, 8022, 8029, 8036, 8043, 8050, 8057, 8064, 8071, 8078, 8085, 8092, 8099, 8106, 8113, 8120, 8127, 8134, 8141, 8148, 8155, 8162, 8169, 8176, 8183, 8190, 8197, 8204, 8211, 8218, 8225, 8232, 8239, 8246, 8253, 8260, 8267, 8274, 8281, 8288, 8295, 8302, 8309, 8316, 8323, 8330, 8337, 8344, 8351, 8358, 8365, 8372, 8379, 8386, 8393, 8400, 8407, 8414, 8421, 8428, 8435, 8442, 8449, 8456, 8463, 8470, 8477, 8484, 8491, 8498, 8505, 8512, 8519, 8526, 8533, 8540, 8547, 8554, 8561, 8568, 8575, 8582, 8589, 8596, 8603, 8610, 8617, 8624, 8631, 8638, 8645, 8652, 8659, 8666, 8673, 8680, 8687, 8694, 8701, 8708, 8715, 8722, 8729, 8736, 8743, 8750, 8757, 8764, 8771, 8778, 8785, 8792, 8799, 8806, 8813, 8820, 8827, 8834, 8841, 8848, 8855, 8862, 8869, 8876, 8883, 8890, 8897, 8904, 8911, 8918, 8925, 8932, 8939, 8946, 8953, 8960, 8967, 8974, 8981, 8988, 8995, 9002, 9009, 9016, 9023, 9030, 9037, 9044, 9051, 9058, 9065, 9072, 9079, 9086, 9093, 9100, 9107, 9114, 9121, 9128, 9135, 9142, 9149, 9156, 9163, 9170, 9177, 9184, 9191, 9198, 9205, 9212, 9219, 9226, 9233, 9240, 9247, 9254, 9261, 9268, 9275, 9282, 9289, 9296, 9303, 9310, 9317, 9324, 9331, 9338, 9345, 9352, 9359, 9366, 9373, 9380, 9387, 9394, 9401, 9408, 9415, 9422, 9429, 9436, 9443, 9450, 9457, 9464, 9471, 9478, 9485, 9492, 9499, 9506, 9513, 9520, 9527, 9534, 9541, 9548, 9555, 9562, 9569, 9576, 9583, 9590, 9597, 9604, 9611, 9618, 9625, 9632, 9639, 9646, 9653, 9660, 9667, 9674, 9681, 9688, 9695, 9702, 9709, 9716, 9723, 9730, 9737, 9744, 9751, 9758, 9765, 9772, 9779, 9786, 9793, 9800, 9807, 9814, 9821, 9828, 9835, 9842, 9849, 9856, 9863, 9870, 9877, 9884, 9891, 9898, 9905, 9912, 9919, 9926, 9933, 9940, 9947, 9954, 9961, 9968, 9975, 9982, 9989, 9996]

In [ ]:
# Question no. 21
# We will find the distance through pythagorus formula .
import math
values = input("Enter direction of robots... ").upper().split()
def distance_formula():
  try:
   position = [0,0]
   for i in range(0,len(values),2):
    if values[i] == "UP":
      position[1] += int(values[i+1])
    elif  values[i] == "DOWN":
      position[1] -= int(values[i+1])
    elif values[i] == "RIGHT":
      position[0] += int(values[i+1])
    elif  values[i] == "LEFT":
      position[0] -= int(values[i+1])
    else:
      print()
  except ValueError():
    print("Please Give Correct Values")
  distance = math.sqrt(position[0]**2+position[1]**2)
  print(round(distance))

distance_formula()

Enter direction of robots... UP 5 DOWN 3 LEFT 3 RIGHT 2
2

In [ ]:
# Question no. 22

In [ ]:
# Question no. 23
# We will make the class that returns square of paramater .
class Square:
  def __init__(self,n):
    self.n = n
  def square(self):
    return self.n**2
num = Square(8)
print(num.square())

64

In [ ]:
# Question no. 24
# Print documentation for built-in functions
print(input.__doc__)
print(abs.__doc__)
print(float.__doc__)
print(int.__doc__)
def square(n):
  return n**2

print(square.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

Return the absolute value of the argument.
Convert a string or number to a floating point number, if possible.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
None

In [ ]:
# Question no. 25
# Write a code of class
class Dog:
  def __init__(self,name,breed):
    self.name = name
    self.breed = breed

dog1 = Dog("Fluffi","Germensheferd")

In [ ]:
# Question no. 26
# We will make a function that returns the sum of two numbers .
def sum(a,b):
  print(a+b)
sum(5,6)
sum(4,3)
sum(12,7)

11
7
19

In [ ]:
# Question no. 27
# We will convert int into str and print a console .
def printValue(n):
  print(str(n))
printValue(3)

3

In [ ]:
# Question no. 28
# We will convert str into int and print a console .
def printValue(s1):
  print(int(s1))
printValue("3")

3

In [ ]:
# Question no. 29
# We will get two string number and print their sum .
def printValue(s1,s2):
  print(int(s1)+int(s2))
printValue("3","4")
printValue("6","7")

7
13

In [ ]:
# Question no. 30
# We will print the concatenation of two string
def concate(para1:str,para2:str):
  print(para1+para2)
concate("My name is Abdullah ",'My father name is Athar')

My name is Abdullah My father name is Athar

In [ ]:
# Question no. 31
# Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line
def printValue(s1,s2):
  l1 = s1
  l2 = s2
  if len(l1) > len(l2):
    print(f"The length of {l1} is greater than {l2}")
  elif len(l1)<len(l2):
    print(f"The length of {l2} is greater than {l1}")
  else :
    print("Both are equal.")

printValue("Abdullah","Haleema")

The length of Abdullah is greater than Haleema

In [ ]:
# Question no. 32
# We define a function that tells the odd or even value .
def even_odd(n):
  if n % 2 == 0:
    print(f"The Value of {n} is even.")
  else:
    print(f"The value of {n} is odd.")

even_odd(7)
even_odd(8)

The value of 7 is odd.
The Value of 8 is even.

In [ ]:
# Question no. 33
# We will make the dictionary which print of value that is square of key .
def printDict():
  num : dict = {
    1 : 1**2,
    2 : 2**2,
    3 : 3**2,
    4 : 4**2
    }

  print(num)

printDict()

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# Question no. 34
# This Question is related to above question .
def printDict1():
 num1 : dict = {
  }
 for i in range(1,21):
   num1[i] = i**2
 print(num1)
printDict1()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
# Question no. 35
def printDict1():
 num1 : dict = {
  }
 for i in range(1,21):
   num1[i] = i**2
 print(num1.values())
printDict1()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

In [ ]:
# Question no. 36
def printDict1():
 num1 : dict = {
  }
 for i in range(1,21):
   num1[i] = i**2
 print(num1.keys())
printDict1()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [ ]:
# Question no. 37
square_n = []
def prinlist():
  for i in range(1,21):
    square_n.append(i**2)

  print(square_n)
prinlist()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# Question no. 38
square_n = []
def prinlist():
  for i in range(1,21):
    square_n.append(i**2)
prinlist()
sliced_number = square_n[0:5]
print(sliced_number)

[1, 4, 9, 16, 25]

In [ ]:
# Question no. 39
square_n = []
def prinlist():
  for i in range(1,21):
    square_n.append(i**2)
prinlist()
sliced_number = square_n[15:20]
print(sliced_number)

In [ ]:
# Question no. 40
square_n = []
def prinlist():
  for i in range(1,21):
    square_n.append(i**2)
prinlist()
sliced_number = square_n[5:20]
print(sliced_number)

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# Question no. 41
square_n = []
def printuple():
  for i in range(1,21):
    square_n.append(i**2)

  print(tuple(square_n))
printuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [ ]:
# Question no. 42
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
print(tuple_1[0:5])

(1, 2, 3, 4, 5)

In [ ]:
# Question no. 43
# We will print a tuple of even number b/t 1_10
list_1 = [1,2,3,4,5,6,7,8,9,10]
even_list = []
for i in range(1,len(list_1)+1):
  if(i % 2 == 0):
    even_list.append(i)
print(tuple(even_list))

(2, 4, 6, 8, 10)

In [ ]:
# Question no. 44
string = input("Enter Yes or no... ")
if string.upper() == 'YES':
  print("Yes")
else:
  print("No")

Enter Yes or no... yes
Yes

In [ ]:
# Question no. 45
# We use filter function in it.
list_3 = [1,2,3,4,5,6,7,8,9,10]
even_number = filter(lambda x:x%2==0,list_3)
# Filter get even number .
even_number_list = list(even_number)
# It will make the list .
print(even_number_list)

[2, 4, 6, 8, 10]

In [ ]:
# Question no. 46
# We will use map
list_3 = [1,2,3,4,5,6,7,8,9,10]
square_number = map(lambda x:x**2,list_3)
# It will make the square of number
square_number_list = list(square_number)
print(square_number_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question no. 47
list_3 = [1,2,3,4,5,6,7,8,9,10]
even_num = filter(lambda x:x % 2 == 0,list_3)
list_even_num = list(even_num)
square_even_num = map(lambda x : x ** 2,list_even_num)
list_square_even_num = list(square_even_num)
print(list_square_even_num)

[4, 16, 36, 64, 100]

In [ ]:
# Question no. 48
list_4 = []
for i in range(1,21):
  list_4.append(i)

even_number = filter(lambda x:x%2==0,list_4)
even_number_list = list(even_number)
print(even_number_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Question no. 49
list_4 = []
for i in range(1,21):
  list_4.append(i)

square_number = map(lambda x:x**2,list_4)
list_square_number = list(square_number)
print(list_square_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# Question no. 50
# We use static method
class Nationality:
  staticmethod
  def American():
    print("I an American")

nationality = Nationality.American()

I an American

In [ ]:
# Question no. 51
class American:
  def __init__(self,name):
   self.name = name
   print(f"Your name is {self.name}")
  def nationality(self,nattionality):
    print(f"Your nationality is {nattionality}")

class NewYork(American):
  def __init__(self,name,borough):
   super().__init__(name)
   self.borough = borough

  def borough(self):
    print(f"Your address is {self.borough} , New York")
newyork = NewYork("Abdullah","AhmedPur East")
newyork.nationality("Pakistani")
print(newyork.borough)

Your name is Abdullah
Your nationality is Pakistani
AhmedPur East

In [ ]:
# Question no. 52
# We will make the class which return area of circle.
import math
class Circle:
  def __init__(self,radius):
    area = math.pi*radius**2
    print(round(area))
area = Circle(5)

79

In [ ]:
# Question no. 53
# We will make the class which return area of rectangle.
class Rectangle:
  def __init__(self,length,width):
    area = length*width
    print(area)

rectangle = Rectangle(4,4)

16

In [ ]:
# Question no. 54
# We will make the class which tell about shape of figure
class Shape:
  def __init__(self,number_length):
    self.number_length = number_length
  def area(self):
    if self.number_length != 0:
      return self.number_length**2
    else:
      return 0
class Square(Shape):
  def __init__(self,length):
    super().__init__(length)
shape = Shape(4)
print(shape.area())
shape_1 = Square(6)
print(shape_1.area())

16
36

In [ ]:
# Question no. 55
def run_time_error():
  print(""""This raise Run time error""")
  raise RuntimeError("This is the Run Time Error")

try:
  run_time_error()
except Exception as e :
  print("Run Time Error")

"This raise Run time error
Run Time Error

In [ ]:
# Question no. 56
def value():
  n = 5/0

try:
  value()
except ZeroDivisionError as e :
  print("Any number can't be zero.")

Any number can't be zero.

In [ ]:
# Question no. 57
class Input_Value_Error(Exception):
  def __init__(self,message="Invalid Input"):
    super().__init__(message)

def value_error(ch = "abc"):  # here , Our main purpose is to raise the error .
    raise Input_Value_Error("Enter Correct Input")

try :
  value_error()
except Input_Value_Error as e:
  print("Invalid Input")

Invalid Input

In [ ]:
# Question no. 58
input_1 = "John@gmail.com"
value = input_1.split("@")
print(value[0])

John

In [ ]:
# Question no. 59
# Here  , we will print the email address of user .
input_1 = input("Enter Your email address... ").lower()
value = input_1.split("@")
print(value[1].split(".")[0])

Enter Your email address... abdullahmalik@gmail.com
gmail

In [ ]:
# Qusetion no. 60
value = input("Enter a sequence of words that contain number... ")
value_1 = value.split(" ")
digit = []
for i in range(0,len(value_1)):
  if value_1[i].isdigit():
    digit.append(value_1[i])
print(digit)

In [2]:
# Question no. 61
# u is the keyword that tell us it should be treated as Unicode.
message = u"Hello World"
print(message)

Hello World

In [5]:
# Question no. 62
# We will convert our code into ASCII.
def ascii_to_unicode_utf8(ascii_string):
  unicode_string = ascii_string.encode('utf-8')
  print(unicode_string)

# Example usage
ascii_str = "Hello"
unicode_str = ascii_to_unicode_utf8(ascii_str)
print(unicode_str) # Output: b'Hello'

b'Hello'

In [11]:
# Question no. 63
with open("Abdullah.py","w+") as file:
 file.write("print('Abdullah')")
 file.seek(0)
 message = file.read()
# Here , we will print unicode into ascii
message_ascii = message.encode('ascii')
print(message_ascii)

b"print('Abdullah')"

In [13]:
# Question no. 64
# It will give number to find binomial theorem .
value = int(input("Enter a number "))
ans = 0
for i in range(1,value+1):
  ans += i/(i+1)
print(ans)

Enter a number 5
3.5500000000000003

In [ ]:
# Question no. 65
# We will find f(n)=f(n-1)+100
n = int(input("Enter a number "))
def f(n):
  if n == 0: # Base case: when n is 0, return 0
    return 1
  else:
    return f(n-1)+100 # Recursive step: f(n) = f(n-1) + 100
print(f(n))

In [36]:
# Question no. 66
# We will find f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1
n = int(input("Enter a number "))

def f1(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return f1(n-1) + f1(n-2)

print(f1(n))

Enter a number 7
13

In [41]:
# Question no. 67
n = int(input("Enter a number "))

def f1(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return f1(n-1) + f1(n-2)
list1 = [f1(i) for i in range(n+1)]
print(",".join(map(str,list1)))

Enter a number 7
0_1_1_2_3_5_8_13

In [60]:
# Question no. 68
n1 = int(input("Enter a number to find even number "))
def even(n):
 while n>=0:
  if n % 2 == 0:
    yield n
  n -= 1

nums = even(n1)
even_list = []
for num in nums:
  even_list.append(num)
print(sorted(even_list))

Enter a number to find even number 8
[0, 2, 4, 6, 8]

In [1]:
# Question no. 69
n2 = int(input("Enter a number "))
num_div_7_5 =[]
while n2 >= 0:
 if n2 % 5 == 0 and n2 % 7 ==0:
  num_div_7_5.append(n2)
 n2 -= 1
print(sorted(num_div_7_5))

Enter a number 1000
[0, 35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980]

In [5]:
# Question no. 70
number = [2,4,6,8]
for num in number:
  assert num % 2 == 0 , f"number is not even"